Weather Report Automation.json
{
  "name": "Weather Report Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "db4628fe-12a2-4af6-9bb3-2af12bf706bd",
      "name": "manualTest"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        192
      ],
      "id": "30b8c7c5-a777-4411-a92f-aa67ebeb67df",
      "name": "6am Schedule"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=42.35&longitude=71.056&hourly=temperature_2m",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        128
      ],
      "id": "56ddee55-191d-4795-99e9-45418b67ed94",
      "name": "gets weather"
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst weatherData = items[0].json;\n\n// Extract time and temperature arrays\nconst times = weatherData.hourly.time;\nconst temperatures = weatherData.hourly.temperature_2m;\n\n// Get today's date in ISO format (YYYY-MM-DD)\nconst today = new Date().toISOString().split('T')[0];\n\n// Filter temperatures for today\nconst todaysTemperatures = times\n  .map((time, index) => ({ time, temp: temperatures[index] }))\n  .filter(entry => entry.time.startsWith(today))\n  .map(entry => entry.temp);\n\n// Find high and low temperatures for today\nconst high = Math.max(...todaysTemperatures);\nconst low = Math.min(...todaysTemperatures);\n\n// Construct the message\nconst message = `In Boston, today the high temperature is ${high}°C and the low is ${low}°C.`;\n\n// Return the message\nreturn [\n  {\n    json: {\n      message,\n      high,\n      low\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ],
      "id": "50500119-806e-4349-9360-5b1a915a762d",
      "name": "creates message"
    },
    {
      "parameters": {
        "sendTo": "nidhisamarthjd@gmail.com",
        "subject": "Weather Report for Today ",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        128
      ],
      "id": "388c5b3a-1772-493f-bae1-aab7533a0ee4",
      "name": "Send a message",
      "webhookId": "78f31f17-2a92-4669-a26f-5be08e914de1",
      "credentials": {
        "gmailOAuth2": {
          "id": "iDCun2SclAA04idt",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "gets weather": [
      {
        "json": {
          "latitude": 42.25,
          "longitude": 70.875,
          "generationtime_ms": 0.01811981201171875,
          "utc_offset_seconds": 0,
          "timezone": "GMT",
          "timezone_abbreviation": "GMT",
          "elevation": 3129,
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°C"
          },
          "hourly": {
            "time": [
              "2025-08-15T00:00",
              "2025-08-15T01:00",
              "2025-08-15T02:00",
              "2025-08-15T03:00",
              "2025-08-15T04:00",
              "2025-08-15T05:00",
              "2025-08-15T06:00",
              "2025-08-15T07:00",
              "2025-08-15T08:00",
              "2025-08-15T09:00",
              "2025-08-15T10:00",
              "2025-08-15T11:00",
              "2025-08-15T12:00",
              "2025-08-15T13:00",
              "2025-08-15T14:00",
              "2025-08-15T15:00",
              "2025-08-15T16:00",
              "2025-08-15T17:00",
              "2025-08-15T18:00",
              "2025-08-15T19:00",
              "2025-08-15T20:00",
              "2025-08-15T21:00",
              "2025-08-15T22:00",
              "2025-08-15T23:00",
              "2025-08-16T00:00",
              "2025-08-16T01:00",
              "2025-08-16T02:00",
              "2025-08-16T03:00",
              "2025-08-16T04:00",
              "2025-08-16T05:00",
              "2025-08-16T06:00",
              "2025-08-16T07:00",
              "2025-08-16T08:00",
              "2025-08-16T09:00",
              "2025-08-16T10:00",
              "2025-08-16T11:00",
              "2025-08-16T12:00",
              "2025-08-16T13:00",
              "2025-08-16T14:00",
              "2025-08-16T15:00",
              "2025-08-16T16:00",
              "2025-08-16T17:00",
              "2025-08-16T18:00",
              "2025-08-16T19:00",
              "2025-08-16T20:00",
              "2025-08-16T21:00",
              "2025-08-16T22:00",
              "2025-08-16T23:00",
              "2025-08-17T00:00",
              "2025-08-17T01:00",
              "2025-08-17T02:00",
              "2025-08-17T03:00",
              "2025-08-17T04:00",
              "2025-08-17T05:00",
              "2025-08-17T06:00",
              "2025-08-17T07:00",
              "2025-08-17T08:00",
              "2025-08-17T09:00",
              "2025-08-17T10:00",
              "2025-08-17T11:00",
              "2025-08-17T12:00",
              "2025-08-17T13:00",
              "2025-08-17T14:00",
              "2025-08-17T15:00",
              "2025-08-17T16:00",
              "2025-08-17T17:00",
              "2025-08-17T18:00",
              "2025-08-17T19:00",
              "2025-08-17T20:00",
              "2025-08-17T21:00",
              "2025-08-17T22:00",
              "2025-08-17T23:00",
              "2025-08-18T00:00",
              "2025-08-18T01:00",
              "2025-08-18T02:00",
              "2025-08-18T03:00",
              "2025-08-18T04:00",
              "2025-08-18T05:00",
              "2025-08-18T06:00",
              "2025-08-18T07:00",
              "2025-08-18T08:00",
              "2025-08-18T09:00",
              "2025-08-18T10:00",
              "2025-08-18T11:00",
              "2025-08-18T12:00",
              "2025-08-18T13:00",
              "2025-08-18T14:00",
              "2025-08-18T15:00",
              "2025-08-18T16:00",
              "2025-08-18T17:00",
              "2025-08-18T18:00",
              "2025-08-18T19:00",
              "2025-08-18T20:00",
              "2025-08-18T21:00",
              "2025-08-18T22:00",
              "2025-08-18T23:00",
              "2025-08-19T00:00",
              "2025-08-19T01:00",
              "2025-08-19T02:00",
              "2025-08-19T03:00",
              "2025-08-19T04:00",
              "2025-08-19T05:00",
              "2025-08-19T06:00",
              "2025-08-19T07:00",
              "2025-08-19T08:00",
              "2025-08-19T09:00",
              "2025-08-19T10:00",
              "2025-08-19T11:00",
              "2025-08-19T12:00",
              "2025-08-19T13:00",
              "2025-08-19T14:00",
              "2025-08-19T15:00",
              "2025-08-19T16:00",
              "2025-08-19T17:00",
              "2025-08-19T18:00",
              "2025-08-19T19:00",
              "2025-08-19T20:00",
              "2025-08-19T21:00",
              "2025-08-19T22:00",
              "2025-08-19T23:00",
              "2025-08-20T00:00",
              "2025-08-20T01:00",
              "2025-08-20T02:00",
              "2025-08-20T03:00",
              "2025-08-20T04:00",
              "2025-08-20T05:00",
              "2025-08-20T06:00",
              "2025-08-20T07:00",
              "2025-08-20T08:00",
              "2025-08-20T09:00",
              "2025-08-20T10:00",
              "2025-08-20T11:00",
              "2025-08-20T12:00",
              "2025-08-20T13:00",
              "2025-08-20T14:00",
              "2025-08-20T15:00",
              "2025-08-20T16:00",
              "2025-08-20T17:00",
              "2025-08-20T18:00",
              "2025-08-20T19:00",
              "2025-08-20T20:00",
              "2025-08-20T21:00",
              "2025-08-20T22:00",
              "2025-08-20T23:00",
              "2025-08-21T00:00",
              "2025-08-21T01:00",
              "2025-08-21T02:00",
              "2025-08-21T03:00",
              "2025-08-21T04:00",
              "2025-08-21T05:00",
              "2025-08-21T06:00",
              "2025-08-21T07:00",
              "2025-08-21T08:00",
              "2025-08-21T09:00",
              "2025-08-21T10:00",
              "2025-08-21T11:00",
              "2025-08-21T12:00",
              "2025-08-21T13:00",
              "2025-08-21T14:00",
              "2025-08-21T15:00",
              "2025-08-21T16:00",
              "2025-08-21T17:00",
              "2025-08-21T18:00",
              "2025-08-21T19:00",
              "2025-08-21T20:00",
              "2025-08-21T21:00",
              "2025-08-21T22:00",
              "2025-08-21T23:00"
            ],
            "temperature_2m": [
              7.7,
              7.7,
              8.6,
              9.4,
              10.6,
              11.8,
              12.7,
              13.3,
              13.5,
              13.6,
              13.5,
              13.4,
              13,
              12.2,
              11,
              9.6,
              8.8,
              8.6,
              8.1,
              7.6,
              7.4,
              7.1,
              6.9,
              6.8,
              6.7,
              6.7,
              8.2,
              10.2,
              11.8,
              12.9,
              13.7,
              13.8,
              13.8,
              13.7,
              13.1,
              12,
              10.8,
              9.7,
              8.6,
              7.9,
              7.2,
              6.7,
              6.5,
              6.4,
              6,
              5.7,
              5.5,
              5.3,
              5.1,
              5.1,
              6.5,
              8.4,
              10.1,
              11.3,
              12.1,
              12.5,
              12.6,
              12.5,
              12.2,
              11.4,
              10.5,
              9.3,
              8.2,
              7.2,
              6.5,
              5.9,
              5.7,
              5.3,
              4.7,
              4.1,
              3.7,
              3.2,
              2.8,
              2.6,
              4,
              6.4,
              8.3,
              9.7,
              10.9,
              11.6,
              11.7,
              11.7,
              11.5,
              11.4,
              11,
              10.2,
              8.9,
              7.7,
              6.8,
              6.3,
              6.1,
              5.8,
              5.6,
              5.4,
              4.9,
              4.4,
              4.4,
              5.3,
              6.8,
              8.4,
              10.4,
              12.6,
              14.3,
              15.3,
              15.7,
              15.8,
              15.5,
              14.9,
              14.1,
              12.8,
              11.3,
              10.2,
              9.7,
              9.6,
              9.4,
              9.2,
              8.9,
              8.6,
              8,
              7.3,
              7.2,
              8,
              9.4,
              10.8,
              12.2,
              13.6,
              14.6,
              15.2,
              15.4,
              15.3,
              15,
              14.4,
              13.5,
              12.3,
              10.8,
              9.5,
              8.5,
              7.6,
              6.9,
              6.4,
              6.1,
              6,
              5.8,
              5.8,
              6.2,
              7.2,
              8.7,
              10.1,
              11.4,
              12.7,
              13.7,
              14.5,
              15,
              15.2,
              15.1,
              14.8,
              14.1,
              13.1,
              11.8,
              10.6,
              9.7,
              9,
              8.5,
              8.2,
              8,
              7.9,
              7.6,
              7.4
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "manualTest": {
      "main": [
        [
          {
            "node": "gets weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6am Schedule": {
      "main": [
        [
          {
            "node": "gets weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gets weather": {
      "main": [
        [
          {
            "node": "creates message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "creates message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d26240db-9b45-409f-a103-06d97126ceb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7acd65e5c7d872afed7fb747d6bc6e44a9837d450604aba2550afc0a37f0ce9f"
  },
  "id": "eES4ZDuVubNICRKO",
  "tags": []
}